# TF-IDF

In [111]:
import pandas as pd

In [152]:
documentA = 'sunshine state enjoy sunshine'

documentB = 'brown fox jump high brown fox run'

documentC = 'sunshine state fox run fast'

In [153]:
bagOfWordsA = documentA.split(' ')
bagOfWordsB = documentB.split(' ')
bagOfWordsC = documentC.split(' ')

In [154]:
uniqueWords = (set(bagOfWordsC).union(set(bagOfWordsA).union(set(bagOfWordsB))))

In [155]:
print(uniqueWords)

{'state', 'enjoy', 'jump', 'run', 'fox', 'fast', 'high', 'brown', 'sunshine'}

In [158]:
numOfWordsA = dict.fromkeys(uniqueWords, 0)
for word in bagOfWordsA:
    numOfWordsA[word] += 1
numOfWordsB = dict.fromkeys(uniqueWords, 0)
for word in bagOfWordsB:
    numOfWordsB[word] += 1
numOfWordsC = dict.fromkeys(uniqueWords, 0)
for word in bagOfWordsC:
    numOfWordsC[word] += 1

In [159]:
print(numOfWordsA)
print(numOfWordsB)
print(numOfWordsC)

{'state': 1, 'enjoy': 1, 'jump': 0, 'run': 0, 'fox': 0, 'fast': 0, 'high': 0, 'brown': 0, 'sunshine': 2}
{'state': 0, 'enjoy': 0, 'jump': 1, 'run': 1, 'fox': 2, 'fast': 0, 'high': 1, 'brown': 2, 'sunshine': 0}
{'state': 1, 'enjoy': 0, 'jump': 0, 'run': 1, 'fox': 1, 'fast': 1, 'high': 0, 'brown': 0, 'sunshine': 1}

# Term Frequency (TF)

In [160]:
def computeTF(wordDict, bagOfWords):
    tfDict = {}
    bagOfWordsCount = len(bagOfWords)
    for word, count in wordDict.items():
        tfDict[word] = count / float(bagOfWordsCount)
    return tfDict

In [161]:
tfA = computeTF(numOfWordsA, bagOfWordsA)
tfB = computeTF(numOfWordsB, bagOfWordsB)
tfC = computeTF(numOfWordsC, bagOfWordsC)

# Inverse Data Frequency (IDF)

In [162]:
def computeIDF(documents):
    import math
    N = len(documents)
    
    idfDict = dict.fromkeys(documents[0].keys(), 0)
    for document in documents:
        for word, val in document.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log(N / float(val))
    return idfDict

In [163]:
idfs = computeIDF([numOfWordsA, numOfWordsB, numOfWordsC])

Lastly, finding TF-IDF is simply the TF multiplied by IDF.

In [164]:
def computeTFIDF(tfBagOfWords, idfs):
    tfidf = {}
    for word, val in tfBagOfWords.items():
        tfidf[word] = val * idfs[word]
    return tfidf

In [165]:
tfidfA = computeTFIDF(tfA, idfs)
tfidfB = computeTFIDF(tfB, idfs)
tfidfC = computeTFIDF(tfC, idfs)
df = pd.DataFrame([tfidfA, tfidfB, tfidfC])

In [166]:
df

,state,enjoy,jump,run,fox,fast,high,brown,sunshine
0,0.101366,0.274653,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.202733
1,0.000000,0.000000,0.156945,0.057924,0.115847,0.000000,0.156945,0.313889,0.000000
2,0.081093,0.000000,0.000000,0.081093,0.081093,0.219722,0.000000,0.000000,0.081093

# Cosine Similarity

In [167]:
from scipy import spatial

S1 = [1,1,0,0,0,0,0,0,2]

S3 = [1,0,0,1,1,1,0,0,1]

print(1 - spatial.distance.cosine(S1, S3))

0.5477225575051661